include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/userlocation_extension *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/userlocation_extension/migration *.ini *.py *.mako
